<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AlumniManagement </title>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../public/vendor/bootstrapv4/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../../public/vendor/bootstrapv4/css/bootstrap.min.css">

	<!-- fonts -->
	<link rel="stylesheet" href="../../public/vendor/fontawesome-free/css/all.min.css">

	<!-- my css -->
	<link rel="stylesheet" href="../../public/userHome/userHome.css">

</head>
<body>	

	<!-- navigation -->
	<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
		<div class="container">
			<a href=""> QLCSV </a>
			<button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#mainNavMenu" aria-controls="mainNavMenu" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
				
			<div class="collapse navbar-collapse" id="mainNavMenu">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#gioithieu">Giới thiệu</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#cackhoa">Các khóa</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#dangnhap">Đăng nhập</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	<header class="bg-primary text-white text-center">
		<div class="container">
			<img class="img-fluid d-block" src="" alt="">
			<h1>Đại Học Công Nghệ</h1>
			<h2>Nhóm 3</h2>
		</div>
	</header>
	<section>
		<div class="container">
			<h2 >
				Các lớp mới cập nhật
			</h2>

			
		</div>
	</section>


	


	<script src="../../public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../public/vendor/jquery/jquery.min.js"></script>
	<script src="../../public/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>