
#class-container{
    z-index: 2000;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    background-color:#00000063;
}
#add-class-form{
    margin:auto;
    width:20%;
    height: 10%;
    background-color: whitesmoke;  
}
#add-class{
    margin: auto;
}
#user-info{
    display:none;
}
.center-button{
    width: 100%;
    height: 100%;
    margin: auto;
}