
.lineStar {
    width: 23%;
    margin: auto;
    margin-top: 18px;
    border-top: 5px solid white;
}

.lineStar span {
    color: white;
    background: #18bb9c;
    padding: 0px 5px;
    font-size: 24px;
    position: relative;
    top: -15px;
}
.imgClass{
	margin-bottom: 0px; 
}
.newClasses .lineStar {
    border-color: black;
    background: white;
}

.newClasses .lineStar span {
    color: black;
    background: white;
}
.newsFeed{
    margin:10px 0px;
}

.newClassSession {
    background: #13983d9c;

}

.aClass{
    position: relative;
}
.aClass img{
    max-width: 445px;
    max-height: 155px;
}

.chiTiet {
    position: absolute;
    background: #31708f;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.6s;

}

.chiTiet i {
    font-size: 45px;
    margin-top: 25%;
    color: #fff;
}

.chiTiet h3, h2{
    color: #fff;
}

.aClass:hover .chiTiet {
    opacity: 0.85;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.endNewClasses{
	margin-top: 90px;
}