<!DOCTYPE html>
<html lang="en">
<head>

	<!-- <meta charset="UTF-8" http-equiv="refresh" content="1"> -->

	<meta charset="UTF-8">
    <!-- bootstrap -->
	<link rel="stylesheet" href="../../public/vendor/bootstrapv3/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/vendor/bootstrapv3/css/bootstrap-theme.min.css">
    <!-- font -->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/fontawesome-free/css/all.min.css">

    

    <!-- my CSS -->
    <link rel="stylesheet" href="../../public/Home/Home.css">
    <link rel="stylesheet" href="../../public/Home/Nav.css">
	<title>Alumni</title>
</head>
<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <a class="logo navbar-brand page-scroll" href="Home.html">
                    <img src="../../public/Home/img/uetLogo.png" alt="">_Uet_Alumni
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li class="active" >
                        <a href="Home.html">Trang chủ</a>
                    </li>
                    <li>
                        <a class="" href="#download">Bài đăng</a>
                    </li>
                    <li>
                        <a class="" href="#contact">Khảo sát</a>
                    </li>
                    <li>
                        <a class="" href="ListClasses.html">Các lớp</a>
                    </li>
                </ul>
            </div>
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </nav>  
        <!-- end Nav -->

    <div class="myHeader"></div>
		
    <div class="newClasses">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2>Lớp mới thêm</h2>
                    <div class="lineStar">
                        <span class="glyphicon glyphicon-star"></span>
                    </div><!-- end lineStar -->
                </div>
            </div> <!-- end Row -->

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail aClass">
                        <img src="../../public/Home/img/portfolio/cake.jpg" alt="a class">
                        <div class="caption">
                            <h3>Lớp k61-CD</h3>
                        </div>
                        <a href="ListAlumni.html">
                            <div class="chiTiet text-center">
                                <i class="fas fa-info-circle"></i>
                                <h3>Chi tiết...</h3>
                            </div>
                        </a>
                    </div>
                </div>  <!-- end 1 class -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail aClass">
                        <img src="../../public/Home/img/portfolio/cake.jpg" alt="a class">
                        <div class="caption">
                            <h3>Lớp k61-CD</h3>
                        </div>
                        <a href="ListAlumni.html">
                            <div class="chiTiet text-center">
                                <i class="fas fa-info-circle"></i>
                                <h3>Chi tiết...</h3>
                            </div>
                        </a>
                    </div>
                </div>  <!-- end 1 class -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail aClass">
                        <img src="../../public/Home/img/portfolio/cake.jpg" alt="a class">
                        <div class="caption">
                            <h3>Lớp k61-CD</h3>
                        </div>
                        <a href="ListAlumni.html">
                            <div class="chiTiet text-center">
                                <i class="fas fa-info-circle"></i>
                                <h3>Chi tiết...</h3>
                            </div>
                        </a>
                    </div>
                </div>  <!-- end 1 class -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail aClass">
                        <img src="../../public/Home/img/portfolio/cake.jpg" alt="a class">
                        <div class="caption">
                            <h3>Lớp k61-CD</h3>
                        </div>
                        <a href="ListAlumni.html">
                            <div class="chiTiet text-center">
                                <i class="fas fa-info-circle"></i>
                                <h3>Chi tiết...</h3>
                            </div>
                        </a>
                    </div>
                </div>  <!-- end 1 class -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail aClass">
                        <img src="../../public/Home/img/portfolio/cake.jpg" alt="a class">
                        <div class="caption">
                            <h3>Lớp k61-CD</h3>
                        </div>
                        <a href="ListAlumni.html">
                            <div class="chiTiet text-center">
                                <i class="fas fa-info-circle"></i>
                                <h3>Chi tiết...</h3>
                            </div>
                        </a>
                    </div>
                </div>  <!-- end 1 class -->

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="endNewClasses">
                        <div class="caption text-center">
                            <h3><a href="" class="btn">Xem Thêm ...</a></h3>
                        </div>
                    </div>
                </div>  <!-- end 1 class -->
                
            </div>
        </div>
    </div>

	<script src="../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../public/vendor/bootstrapv3/js/bootstrap.min.js"></script>
    <script src="../../public/Home/Nav.js"></script>
</body>
</html>